.form__fieldset {
    background-color: rgba(255, 255, 255, 0.438);
    border-color: 1px solid rgb(0, 0, 0);
    padding: 20px;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 25px 23px 46px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 25px 23px 46px -14px rgba(66, 68, 90, 1);
    box-shadow: 25px 23px 46px -14px rgba(66, 68, 90, 1);
}
.form__legend {
    background-color: rgb(40, 146, 148);
    color: rgb(255, 255, 255);
    padding: 2%;
    border: 2px solid rgb(0, 0, 0);
}
.form__labelText {
    display: inline-block;
    color: rgb(0, 0, 0);
}
.form__field {
    border: 1px solid rgb(122, 118, 118);
    padding: 10px;
    color: rgb(0, 0, 0);
    max-width: 400px;
}

.form__button {
    width: 100%;
    background-color: rgb(40, 146, 148);
    color: rgb(255, 255, 255);
    padding: 10px;
}
.form__button:hover {
    background-color: rgb(32, 163, 119);
}