html {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  background-image: url(../public/oldcalculator.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}